extends layout 
 
block content 
  h1= title 
 
  form(id='JackalForm', action="/resource/jackals", method="POST") 
    div.form-group 
        label.jackalAttr(for='Pigment') Pigment  
        input#Pigment(type='text', name='Pigment') 
    div.form-group 
        label.jackalAttr(for='Power') Power  
        input#Power(type='number', name='Power') 
    div.form-group 
        label.jackalAttr(for='Location') Location  
        input#Location(type='text', name='Location') 
    input(type="submit") 
 
  script. 
    document.forms['JackalForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 