extends layout 
 
block content 
  h1= title 

  if (toShow == null) 
    h2 No instance to update 
  else 
  - let id = toShow._id 
  - let Pigment = toShow.Pigment 
  - let Power = toShow.Power 
  - let Location = toShow.Location 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{id} 
  - let actionid = "/resource/jackals/" + id 
  form(id='JackalForm', action= actionid, method="PUT") 
    div.form-group 
        label.jackalAttr(for='Pigment') Pigment  
        input#Pigment(type='text', name='Pigment', value= Pigment ) 
    div.form-group 
        label.jackalAttr(for='Power') Power  
        input#Power(type='number', name='Power', value= Power ) 
    div.form-group 
        label.jackalAttr(for='Location') Location  
        input#Location(type='text', name='Location', value= Location ) 
    input(type="submit") 
 
  script. 
    document.forms['JackalForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 
 